* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v162_3 {
  width: 100%;
  height: 116px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_4 {
  width: 264px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  right: 80px;
  overflow: hidden;
}
.search-icon {
  width: 36px;
  height: 36px;
  background: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  cursor: pointer;
}
.like-icon {
  width: 25px;
  height: 25px;
  background: url("../images/like.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 152px;
  overflow: hidden;
  cursor: pointer;
}
.profile-icon {
  width: 36px;
  height: 36px;
  background: url("../images/profile.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 76px;
  overflow: hidden;
  cursor: pointer;
}
.help-icon {
  width: 30px;
  height: 30px;
  background: url("../images/help.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 228px;
  overflow: hidden;
  cursor: pointer;
}
.logo {
  width: 173px;
  height: 28px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  cursor: pointer;
}
.menu {
  width: 283px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 80px;
  overflow: hidden;
}
.he-option {
  width: 31px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 130px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
}
.she-option {
  width: 50px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
}
.children-option {
  width: 42px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  left: 241px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  cursor: pointer;
}
