.product-page-container {
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: "Inria Serif", serif;
  padding: 0 168px 120px 188px;
}

.product-top-row {
  display: flex;
  gap: 40px;
  margin-bottom: 24px;
}

.post-date {
  margin-top: 12px;
}

.product-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-and-favorite {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-title {
  color: rgba(0, 0, 0, 1);
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 24px;
  text-align: left;
  margin-right: 16px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.like-btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url("../images/like.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

.delete-btn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  background: url("../images/delete-icon2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
}

.post-date {
  color: rgba(0, 0, 0, 1);
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 20px;
}